/*
	Ver. 2.0
	LRD: 23.09.18
*/

/***** MAKE SURE INCLUDE RESET.CSS *****/



/* Font Imports */


/* Global Variables */

$primary-color: #000;
$secondary-color: #fff;


/* Core */
body,html { height: 100%; line-height: 1.3; color: $primary-color; }
img { max-width: 100%; }
.centered { margin: 0 auto; width: 90%; max-width: 1000px; text-align: left; }
.clear { display: block; line-height: 0; font-size: 0; margin: 0; padding: 0; height: 0; overflow: hidden; clear: both; }
.hide { display: none;}
/* .bg_image { background-image: url(bg2.jpg); background-size: cover; } */

/* Page Styles */
/* 16px browser default */
h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }
h4 { font-size: 14px; }
h5 { font-size: 12px; }
h6 { font-size: 10px; }
p { font-size: 1rem; padding-bottom: 1rem; }

a { text-decoration: none; cursor: pointer; }

strong { font-weight: bold; }
em { font-style: italic; }
style:focus { outline: 1; }

/* Inputs to fix zoom on mobile */
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"],
input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"],
input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] { font-size: 16px; }


.button {
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: $primary-color;
  color: $secondary-color;
  cursor: pointer;
  display: inline-block;
  font-size: .9rem;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 1rem;
  outline: 0;
  padding: .85em 1em;
  text-align: center;
  text-decoration: none;
  transition-delay: 0s,0s;
  transition-duration: .25s,.25s;
  transition-property: background-color,color;
  transition-timing-function: ease-out,ease-out;
  vertical-align: middle;
}

.button:hover {
	 background-color: $secondary-color;
	 color: $primary-color;
 }

 label {
  border-width: 0;
  color: #d9d9d9;
  display: block;
  font-size: .875rem;
  margin: 1% 0%;
  padding: 0;
  vertical-align: baseline;
}

input {
  background-color: #fefefe;
  border: 1px solid $primary-color;
  border-radius: 5px;
  box-shadow: rgba(10,10,10,.1) 0 1px 2px inset;
  color: $primary-color;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  height: 2.4375rem;
  line-height: 1.15;
  margin: 1% 0%;
  overflow: visible;
  padding: .5rem;
  transition-delay: 0s,0s;
  transition-duration: .5s,.25s;
  transition-property: box-shadow,border-color;
  transition-timing-function: ease,ease-in-out;
}

input[type="submit"] {
	width: auto;
}

select {
	background-color: #fefefe;
	border: 1px solid $primary-color;
	border-radius: 5px;
	box-sizing: border-box;
	color: $primary-color;
	font-size: 1rem;
  width: 100%;
	height: 2.4375rem;
	line-height: normal;
	margin: 1% 0%;
	padding: .5rem 1.5rem .5rem .5rem;
	text-transform: none;
	transition-delay: 0s,0s;
	transition-duration: .5s,.25s;
	transition-property: box-shadow,border-color;
	transition-timing-function: ease,ease-in-out;
}

textarea {
	background-color: #fefefe;
	border: 1px solid $primary-color;
	border-radius: 5px;
	box-shadow: rgba(10,10,10,.1) 0 1px 2px inset;
	box-sizing: border-box;
	color: $primary-color;
	display: block;
	font-size: 1rem;
	font-weight: 400;
  width: 100%;
	height: 10rem;
	line-height: 1.15;
	margin: 1% 0%;
	overflow: auto;
	padding: .5rem;
	transition-delay: 0s,0s;
	transition-duration: .5s,.25s;
	transition-property: box-shadow,border-color;
	transition-timing-function: ease,ease-in-out;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 38, 77, 0.8);
}

.modal-close {
  position: fixed;
  top: 5px;
  right: 5px;
  color: $primary-color;
  padding: 20px 25px;
	font-weight: 700;
  cursor: pointer;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 760px;
  width: 90%;
  transform: translate(-50%, -50%);
	background-color: $secondary-color;
	padding: 5%;
	color: $primary-color;
	border-radius: 5px;
	text-align: left;
}

.modal {
  display: none;
}

.modal-content p {
	color: $primary-color;
}


/* Responsive Grid (target / context = result) */
/* based on 1000px base width and 16px browser default for fonts */
/* 1000px base width with 20px gutter */
/* Margin is % of the parent element not the element */

.grid_1 { width: 6.5%; } 		/* 65px */
.grid_2 { width: 15%; } 		/* 150px */
.grid_3 { width: 23.5%; } 	/* 235px */
.grid_4 { width: 32%; } 		/* 320px */
.grid_5 { width: 40.5%; } 	/* 405px */
.grid_6 { width: 49%; } 		/* 490px */
.grid_7 { width: 57.5%; } 	/* 575px */
.grid_8 { width: 66%; } 		/* 660px */
.grid_9 { width: 74.5%; } 	/* 745px */
.grid_10 { width: 83%; } 		/* 830px */
.grid_11 { width: 91.5%; } 	/* 915px */
.grid_12 { width: 100%; } 	/* 1000px */


.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
		margin: 0 2% 1% 0; /* 0 20px 10px 0; */
		float: left;
		display: block;
}

.alpha { margin-left: 0px; }
.omega { margin-right: 0px; }


/* MAIN BUILD */

/* Header */


/* Navigation */




/* Footer */



/* Content */
